.alph-index-container{
  width: 100%;
  background: white;
  display: flex;
  justify-content: left;
}

.alph-index-container > div {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 5%;
}

.alph-index-container img {
  padding: 50px 30px 50px 30px;
  height: max-content;
  width: max-content;
}

.alph-index {
  display: flex;
  flex-direction: column;
  align-items: left;

  color: darkgrey;
  
  width: 70%;
  background: white;
  padding: 50px 30px 50px 30px;
}

#alph-index-artists-container {
  display: flex;
}

#alph-index-artists-container > div {
  padding-right: 18px;
}

.alph-index h3{
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 34px;

  margin-bottom: 15px;
}

.alph-index a:hover {
  color: #808080;
}

.alph-index-artist {
  font-size: 19px;
  font-weight: bolder;
  margin-top: 10px;
}

.alph-index-album{
  margin-top: 3px;
}

.alph-index-track{
  margin-left: 25px;
}

/* In case of no artists for a given char... */

.alph-index-container > span {
  color: black;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  border: 3px dotted darkred;
  text-align: center;
  font-size: 26px;
  padding: 70px;
}

#alph-index-missing-artists-link {
  color: darkred;
}