.anno-modal-child {
  width: 100%;
  max-width: 400px;
  min-height: 100px;;
  position: relative;
  background: white;
  border-left: 3px solid darkgrey;
  display: flex;
  margin-top: 20px;
}

.anno-modal-child p{
    padding-left: 10px;
    padding-bottom: 5px;
}