#anno-show-wrapper { 
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;
    margin: 5px;
    padding: 10px;
    background-color: #E9E9E9;
    color: black;
}

#anno-show-wrapper > p {
    font-family: sans-serif;
    font-size: 14px;
}

#anno-show-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 0px 12px 10px;
}

#anno-show-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ion-icon {
    font-size: 19px;
    padding: 5px;
    cursor: pointer;
}

ion-icon:hover {
    color: red;
}
