



.sign-in-form-head{
  color:darkgrey;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid darkgrey;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sign-in-input{
  background: #fff;
  border: 3px solid #ccc;
  margin-bottom: 12px;
  padding: 7px;
  color: #000; 
  width: 100%;
  font-size: 14px;
}

.sign-in-input:focus{
  outline: none;
  border: 3px solid rgb(172, 172, 172);
}

.sign-in-form-submit{
  border: 3px solid black;
  background: none;
  font-size: 16px;
  padding: 4px 8px;
  margin-top: 10px;
  cursor: pointer;
}

.sign-in-form-submit:hover{
  background: #dddddd;
}

.addtl-sign-in-opts{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 25px;
}

.addtl-sign-in-opt{
  color: #949494;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #a1a1a1;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
  margin-right: 7px;
}

.addtl-sign-in-opt:hover{
  border-bottom: 2px solid white;
}




