.auth-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.auth-modal-child {
  width: 300px;
  height: 275px;;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e9e9e9;
  padding: 22px;
  border: 3px solid #99a7ee;
  animation: expand_in .15s cubic-bezier(.25,.46,.45,.94);
  display: flex;
}

.sign-in-form {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.sign-in-form-head{
  color:#99a7ee;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #99a7ee;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sign-in-input{
  background: #fff;
  border: 3px solid #ccc;
  margin-bottom: 12px;
  padding: 7px;
  color: #000; 
  width: 100%;
  font-size: 14px;
}

.sign-in-input:focus{
    outline: none;
    border: 3px solid rgb(172, 172, 172);
}

.sign-in-form-submit{
  border: 3px solid black;
  background: none;
  font-size: 16px;
  padding: 4px 8px;
  margin-top: 10px;
  cursor: pointer;
}

.sign-in-form-submit:hover{
  background: #dddddd;
}

.addtl-sign-in-opts{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 25px;
}

.addtl-sign-in-opt{
  color: #949494;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #a1a1a1;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
  margin-right: 7px;
}

.addtl-sign-in-opt:hover{
  border-bottom: 2px solid white;
}

/* background-img MODAL */

.album-form{
  width: 100%
}

.add-album-art, .add-album-year{
  color:#8c8f9b;
  font-size: 14px;
  font-weight: bolder;
}

.album-form-head{
  color:#99a7ee;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #99a7ee;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 25px;
}

.album-form-input-field{
  background: #fff;
  border: 2px solid #ccc;
  margin-bottom: 12px;
  padding: 4px;
  color: #000; 
  width: 96%;
  font-size: 14px;
}

.album-form-input-field:focus{
    outline: none;
    border: 2px solid rgb(172, 172, 172);
}

.album-form-submit{
  border: 1px solid black;
  background: none;
  font-size: 14px;
  padding: 4px 8px;
  margin-top: 10px;
  cursor: pointer;
}

/* BACKGROUND IMG MODAL */


.bground-img-form{
  width: 100%
}

.bground-img-form-head{
  color:#99a7ee;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #99a7ee;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 25px;
}

.add-bground-img{
  color:#8c8f9b;
  font-size: 14px;
  font-weight: bolder;
}

.bground-img-form-input-field{
  background: #fff;
  border: 2px solid #ccc;
  margin-bottom: 12px;
  padding: 4px;
  color: #000; 
  width: 96%;
  font-size: 14px;
}

.bground-img-form-input-field:focus{
    outline: none;
    border: 2px solid rgb(172, 172, 172);
}

.bground-img-form-submit{
  border: 1px solid black;
  background: none;
  font-size: 14px;
  padding: 4px 8px;
  margin-top: 10px;
  cursor: pointer;
}