.bground-img-form{
    width: 100%
}

.bground-img-form-head{
    color:darkgrey;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid darkgrey;
    width: 100%;
    padding: 10px 0px;
    margin: 25px 0px;
}

.add-bground-img{
    color:#8c8f9b;
    font-size: 14px;
    font-weight: bolder;
}

.bground-img-form-input-field{
    background: #fff;
    border: 2px solid #ccc;
    margin: 9px 0px;
    padding: 4px;
    color: #000; 
    width: 96%;
    font-size: 14px;
}

.bground-img-form-input-field:focus{
    outline: none;
    border: 2px solid rgb(172, 172, 172);
}

.bground-form-submit{
    background: darkred;
    padding: 7px;
    color: white;
    position: relative;
    top: 90px;
    left: 243px;
    cursor: pointer;
}