#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
}

#footer-alph-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    border: 1px solid darkred;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    max-width: 645px;
}

#footer-alph-index > li{
    padding: 5px;
    color: #808080;
}

#footer-alph-index span {
    color: darkred;
}

#footer-alph-index >li:hover {
    background-color: #8b000098;
    color: rgb(37, 37, 37);
}

#footer-alph-index a {
    color: inherit;
    text-decoration: none;
}

#footer-external-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

    white-space: nowrap;
    text-align: center;
    overflow: hidden;

    color: darkred;

    padding: 10px 0px 10px 0px;
}

#footer-external-links > li {
    padding: 0px 10px 0px 10px;
}

#copyright {
    color: black;
    font-size: 12px;
    padding: 10px 0px 25px 0px;
}

