.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: 0px 10px 0px 10px;

  height: 54px;
  background-color: darkred;
  text-transform: uppercase;
}

.search{
  order: 1;
  width: 20%;

  font-size: 10.5px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: black;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
}

.header-title{
  order: 2;

  font-size: 24px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 8px;
  text-shadow: -1px 0px white;
  color: white;

  cursor: pointer;

  margin: auto;
  padding-left: 3px;
}

.user-control{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  text-align: right;
  
  order: 3;
  width: 20%;
  
  margin-top: auto;
  margin-bottom: auto;
}

.user-control-button{
  cursor: pointer;
  background: none;
  
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  white-space: nowrap;
  overflow: hidden;

  border: 0;
  border-bottom: 9px solid transparent;
  min-width: max-content;
  padding: 20px 6px 10px 6px;
}

.user-control-button:hover{
  border-bottom: 8px solid white;
}

/* SUBHEADER */

.subheader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: darkred;
  background: white;
  height: 42px;
}

.subheader a{
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: darkred;

  text-align: center;
  width: 125px;
  
  padding: 5px 0px 5px 0px;
  margin: 0px 20px 0px 20px;

  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
}

.subheader a:hover{
  border-bottom: 9px solid darkred;
}