// HEADER

$perry: #6e1fff;

.header {
  background-color: #fffffff4;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 78px;;
  justify-content: space-between;
  padding: 0 10px;
  text-transform: uppercase;
  
  position: sticky;
  top: 0;
  z-index: 6;

  .user-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: auto;
    margin-top: auto;
    order: 4;
    text-align: right;
    width: 16%;
  }

  .search {
    background: transparent;
    border: 1px solid grey;
    color: black;
    font-size: 10.5px;
    margin: 21px 3px;
    order: 1;
    text-align: left;
    text-transform: uppercase;
    width: 20%;
    z-index: 5;

    .search__form {
      align-items: center;
      display: flex;
      height: 100%;
      margin: 0 5%;
      width: 90%;
    }

    .search__input {
      background: transparent;
      color: grey;
      padding: 5px;
      width: 80%;
    }

    .search__input::placeholder {
      color: grey;
    }

    #search__input:focus { 
      outline: 1px solid darkgrey;
    }

    #search ion-icon {
      color: white;
      cursor: auto;
    }

    #search-results {
      border-color: black;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      cursor: pointer;
      position: relative;
      width: auto;
      z-index: 5;
    }

    .hidden-search {
      display: none;
    }
    
    .search-result {
      background: white;
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding: 5px;
    }

    .search-result:hover {
      background: #dddddd;
  }
    
    .search-result > a {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    
    .search-result img {
        width: 40px;
        height: 40px;
    }
    
    .search-metadata {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-transform: none;
    }
    
    .search-metadata a {
        color: black;
        text-transform: none;
        text-decoration: none;
        padding: 0px;
    }
    
    .search-metadata b {
        font-size: 18px;
        font-weight: 600;
    }
    
    .search-metadata p {
        font-size: 14px;
        font-weight: 500;
    }
  }
}

.button {
  background: none;
  color: black;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.button--home {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 8px;
  margin: auto;
  order: 2;
  padding-left: 3px;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px 0 white;
}

.box-button {
  border: 3px solid black;
  font-size: 13px;
  margin-right: 10px;
  min-width: max-content;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.box-button:hover {
  background: black;
  color: white;
}

.button--git {
  display: flex;
  align-items: center;
  order: 3;
}

.button--git:hover {
  color: $perry;
}