$perry: #6e1fff;

#homepage-wrap {
  display: flex;
  justify-content: center;
  width: 92%;
  padding-left: 25px;
}

.app-info {
  color: black;
  margin: 15px 25px 25px 25px;
  width: 35%;

  >p {
    line-height: 19px;
  }

  > h3 {
    color: $perry;
  }
}

.home-track-list-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 65%;
  margin: 15px 25px 25px 25px;
}

.home-track-list-container > h3,
.app-info > h3 {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #222;
  padding-top: 9px;
  padding-bottom: 24px;
}

.home-track-list-container > h3 {
  color: black;
}

.app-info-quote {
  color: #818082;

  > i {
    color: $perry;
  }
}

.home-track-container {
  color: black;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #222;
    height: 72px;
    text-decoration: none;
    padding: 2px;
  }

  img {
    height: 72px;
    width: 72px;
    margin-right: 10px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 20px;
    font-weight: 700;
    color: #222;
  
    width: 37px;
    height: 37px;
  
    margin-left: 10px;
    margin-right: 10px;
  }
  
  &:hover {
    background: #dddddd;
    cursor: pointer;
  }
}

.home-track-info{
  width: 80%;
  color: #222;
}

.home-track-title{
  font-size: 20px;
  font-weight: 700;

  padding-bottom: 4px;
}

.home-track-artist{
  font-size: 14px;
  font-weight: 600;
}