$perry: #6e1fff;
$offblack: #3c3c3c;
$offwhite: #f7f6f6;

.homepage-wrap {
  display: flex;
  justify-content: center;
  padding-left: 25px;
  width: 92%;

  h3 {
    border-bottom: 2px solid $offblack;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 24px;
    padding-top: 9px;
  }
}

.app-info {
  color: black;
  margin: 15px 25px 25px;
  width: 35%;

  h3 { color: $perry; }
  p { line-height: 19px; }
}

.homepage-track-list-container {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 15px 25px 25px 25px;
  width: 65%;

  h3 { color: black; }
}


.app-info__quote {
  color: #818082;

  i { color: $perry; }
}

.homepage-track {
  color: black;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $offblack;
    height: 72px;
    text-decoration: none;
    padding: 2px 0;

    &:hover { color: $perry; }
  }

  img {
    height: 72px;
    width: 72px;
    margin-right: 10px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 20px;
    font-weight: 700;
    color: $offblack;
  
    width: 37px;
    height: 37px;
  
    margin-left: 10px;
    margin-right: 10px;
  }

  .homepage-track__info {
    color: inherit;
    width: 80%;
  }
  
  .homepage-track__title {
    color: inherit;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 4px;
  }
  
  .homepage-track__artist {
    color: inherit;
    font-size: 14px;
    font-weight: 600;
  }
  
  &:hover {
    background: #e4e4e4;
    cursor: pointer;
  }
}