.track-show{
  width: 100%;
}

/* TRACK HEADER */

.track-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 280px;
  width: 100%;
  background: rgb(80, 78, 78);
  z-index: 3;

  font-family: Helvetica, sans-serif;
}

.bground-upload-button{
  width: 130px;
  height: 20px;
  z-index: 4;
  position: relative;
  top: 10px;
  right: -30px;
  color: #7d8fe8;
  background: white;
  cursor: pointer;
}

.track-header{
  display: flex;
  flex-direction: row;
  justify-content: left;

  background: rgba(0,0,0,.6);
  
  width: 70%
}

.track-show-bground-photo{
  z-index: 1;
}

.track-show-track-art-container{
  width: 220px;
  margin-top: 40px;
  z-index: 2;
}

.track-show-no-art button{
  color: white;
  background: repeating-linear-gradient( 
    135deg, 
    #932828, 
    #932828 40px, 
    darkred 40px, 
    darkred 80px 
  );
  height: 220px;
  width: 220px;
  font-size: 16px;
  cursor: pointer;
  z-index: 4;
  position: relative;
  right: 100px;
}

.track-show-no-art button:focus{
  outline: none;
}

.track-show-track-art{
  display: block;
  width: 100%;
  height: auto;

  position: relative;
  left: -20px;

  margin-right: 12px;
  outline: .15rem solid #9a9a9a;
}

.track-show-meta-container{
  display: flex;
  flex-direction: column;
  z-index: 2;

  position: relative;

  margin-left: 15px;
  margin-top: 40px;
}

.track-show-meta-container a{
  text-decoration: none;
}

.track-show-track-title{
  font-size: 36px;
  font-weight: bold;
  color: #ffff64;

  padding-bottom: 5px;
}

.track-show-track-artist{
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

.track-show-year-container, .track-show-album-container{
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.track-show-track-year, .track-show-track-album{
  font-size: 16px;
  color: #7d8fe8;
}

.meta-tag{
  color: #9a9a9a;
  padding-right: 10px;
}

/* TRACK BODY */

#lyrics-wrapper-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background-color: #f7f7f7;
}

#lyrics-wrapper-1 p, #lyrics-wrapper-2 p {
  font-family: 'Gothic A1', sans-serif;
}

#lyrics-wrapper-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 75%;
  
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  white-space: pre-wrap;
  color: black;

  background: white;
  padding: 30px;
}

#lyrics-wrapper-3{
  padding-right: 25px;
  padding-top: 30px;
  width: 50%;
  line-height: 1.4em;
}

.xsmall-track-title{
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  margin-bottom: 30px;
}

#annotations{
  margin-left: 35px;
  margin-top: 20px;
  width: 50%;
}

/* ANNOTATIONS */

.annotated{
  background: #e9e9e9;
  cursor: pointer;
  padding: 2px 0px 1px 0px;
}

.annotated:hover{
  background: #8b000098;
}

#temp-annotated{
  background: #8b000098;
  cursor: pointer;
  padding: 2px 0px 1px 0px;
}

#require-login > p {
  font-family: 'Gothic A1', sans-serif;
  margin-top: 25px;
  background-color: lightgrey;
  max-width: 380px;
  color: #3c3c3c;
  padding: 10px;
  border-bottom: 1px transparent;
}

#require-login b {
  font-family: 'Gothic A1', sans-serif;
  cursor: pointer;
  color: darkred;
}

#require-login b:hover{
  color: white;
}

/* Audio Player */

#player {
  max-width: 400px;
  max-height: 250px;
  height: 100%;
  width: 100%;
}

#widget2 {
  max-height: 250px;
  max-width: 400px;
  height: 100%;
  width: 100%;
}