$offblack: #3c3c3c;
$perry: #6e1fff;
$lightperry: #7d8fe8;
$cement: #ccc;
    
.track-show {
  width: 100%;
}

/* TRACK HEADER */

.track-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 280px;
  width: 100%;
  background: rgb(80, 78, 78);
  z-index: 3;

  font-family: Helvetica, sans-serif;
}

.bground-upload-button{
  width: 130px;
  height: 20px;
  z-index: 4;
  position: relative;
  top: 10px;
  right: -30px;
  color: $lightperry;
  background: white;
  cursor: pointer;
}

.track-header{
  display: flex;
  flex-direction: row;
  justify-content: left;

  background: rgba(0,0,0,.6);
  
  width: 70%
}

.track-show-bground-photo{
  z-index: 1;
}

.track-show-track-art-container{
  width: 220px;
  margin-top: 40px;
  z-index: 2;
}

.track-show-no-art button{
  color: white;
  background: repeating-linear-gradient( 
    135deg, 
    #932828, 
    #932828 40px, 
    darkred 40px, 
    darkred 80px 
  );
  height: 220px;
  width: 220px;
  font-size: 16px;
  cursor: pointer;
  z-index: 4;
  position: relative;
  right: 100px;
}

.track-show-no-art button:focus{
  outline: none;
}

.track-show-track-art{
  display: block;
  width: 100%;
  height: auto;

  position: relative;
  left: -20px;

  margin-right: 12px;
  outline: .15rem solid #9a9a9a;
}

.track-show-meta-container{
  display: flex;
  flex-direction: column;
  z-index: 2;

  position: relative;

  margin-left: 15px;
  margin-top: 40px;
}

.track-show-meta-container a{
  text-decoration: none;
}

.track-show-track-title{
  font-size: 36px;
  font-weight: bold;
  color: white;

  padding-bottom: 5px;
}

.track-show-track-artist{
  color: $cement;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

.track-show-year-container, .track-show-album-container{
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.track-show-track-year, .track-show-track-album{
  font-size: 16px;
  color: $lightperry;
}

.meta-tag{
  color: #9a9a9a;
  padding-right: 10px;
}

/* TRACK BODY */

#lyrics-wrapper-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background-color: #f7f7f7;
}

#lyrics-wrapper-1 p, #lyrics-wrapper-2 p {
  font-family: arial;
  font-weight: 300;
  color: $offblack;
}

#lyrics-wrapper-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 75%;
  
  font-family: arial;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 1px;
  white-space: pre-wrap;
  color: $offblack;

  background: white;
  padding: 30px;
}

#lyrics-wrapper-3{
  padding-right: 25px;
  padding-top: 30px;
  width: 50%;
  line-height: 1.4em;
}

.xsmall-track-title{
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  margin-bottom: 30px;
}

#annotations{
  margin-left: 35px;
  margin-top: 20px;
  width: 50%;
}

/* ANNOTATIONS */

.annotated{
  background: #8c9fffa6;
  cursor: pointer;
  padding: 2px;
}

.annotated:hover{
  background: $lightperry;
}

#temp-annotated{
  background: $lightperry;
  cursor: pointer;
  padding: 2px 0px 1px 0px;
}

#require-login > p {
  font-family: sans-serif;
  font-weight: 300;
  margin-top: 25px;
  max-width: 380px;
  color: $offblack;
  padding: 12px;
  border: 1px dashed #3c3c3c;
}

#require-login b {
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: $perry;
}

/* Audio Player */

#player {
  max-width: 400px;
  max-height: 250px;
  height: 100%;
  width: 100%;
  box-shadow: 12px 12px #ccc;
}

.react-player__preview {
  border-radius: 0;
}

#widget2 {
  max-height: 250px;
  max-width: 400px;
  height: 100%;
  width: 100%;
}