.track-show{
  width: 100%;
}

/* TRACK HEADER */

.track-header{
  display: flex;
  flex-direction: row;
  justify-content: left;

  height: 280px;
  width: 100%;
  background: rgb(80, 78, 78);
  z-index: 3;

  font-family: 'Open Sans', sans-serif;
}

.track-show-track-art-container{
  width: 220px;
  margin-top: 40px;
  margin-left: 100px;
}

.track-show-track-art{
  display: block;
  width: 100%;
  height: auto;

  margin-right: 12px;
  outline: .15rem solid #9a9a9a;
}  

.track-show-meta-container{
  display: flex;
  flex-direction: column;

  margin-left: 15px;
  margin-top: 40px;
}

.track-show-track-title{
  font-size: 36px;
  font-weight: bold;
  color: #ffff64;

  padding-bottom: 5px;
}

.track-show-track-artist{
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

.track-show-year-container, .track-show-album-container{
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.track-show-track-year, .track-show-track-album{
  font-size: 16px;
  color: #7d8fe8;
}

.meta-tag{
  color: #9a9a9a;
  padding-right: 10px;
}

/* TRACK BODY */

.track-lyrics-and-annot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background: white;
}

.lyrics-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  font-family: 'Raleway';
  font-size: 17px;
  letter-spacing: 1px;
  white-space: pre-wrap;
  color: black;

  background: white;
  margin: 50px;
}

.lyrics-body-lyrics{
  padding-right: 25px;
}

.lyrics-body-annotations{
  padding-left: 25px;
}
