.center-flex {
  display: flex;
  justify-content: center;
}

#track-form-wrapper{
  background-color: white;
  color: black;
  padding: 5%;
  width: 70%;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#track-form {
  display: flex;
  max-width: 1050px;
}

#track-form-data {
  width: 50%;
  max-width: 500px;
  margin-right: 25px;
}

.primary-info {
  height: 330px;
}

#track-form-title input, 
#track-form-artist input, 
#track-form-album input {
  margin-bottom: 10px;
}

#track-form-wrapper h1{
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  padding: 0px 0px 17px 0px;
  position: relative;
}

#track-form-wrapper h3{
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;
  font-weight: 700; 
  border-bottom: 1px solid #626262;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-bottom: 10px;
}

.form-inputs > label {
  margin-bottom: 5px;
}

.primary-info, .additional-metadata{
  display: flex;
  flex-direction: column;
}

#track-form-video {
  margin-bottom: 0px;
}

/* lyrics */

#new-track-lyrics {
  display: flex;
  flex-direction: column;
  align-items: left;

  margin-left: 25px;
  width: 50%;
  max-width: 500px;
  min-width: 200px;
}

#new-track-lyrics textarea {
  height: 100%;
  font-size: 12px;
  display: block;
  margin-bottom: .85rem;
  box-sizing: border-box;
  border: 1px solid #BBB;
  border-radius: 2px;
  max-width: 500px;
  white-space: pre-wrap;
}

.track-field-label{
  text-transform: uppercase;
  color: #626262;
  font-size: 12px;
  margin-bottom: 5px;
}

/* input boxes for artist, title, etc */
.track-string-input{
  border-radius: 2px;
  padding: 5px;
  font-size: 15px;
  display: block;
  border: 1px solid #BBB;
  width: 100%;

  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

.track-string-input:focus, .track-form textarea:focus{
  outline: none;
}

.genre_selector{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genre_radio{
  margin: 10px;
  cursor: pointer;
}

/* "note: If you're not sure which tag..." */
.tag-note{
  font-style: italic;
  font-size: 12px;
  line-height: 1.4;
  margin-top: .5rem;
  font-weight: 100;
}

#track-submit-wrapper {
  display: flex;
  justify-content: right;
}

.track-submit{
  background-color: black;
  color: #ccc;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #444;
  height: 60px;
  width: 40%;
  min-width: 150px;
  padding: 5px 9px;
}

.queried-artists, .queried-albums{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  margin: 0px 10px 0px 0px;
}

.queried-artist, .queried-album {
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  padding: 3px;
  margin-right: 9px;
  background: lightgrey;
}

.queried-artist:hover, .queried-album:hover {
  background: #8b000078;
}

.selected-artist-from-query, .selected-album-from-query {
  background: #8b000078;
}