.user-drop{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.user-drop h3{
  margin: auto;
  /* text-align: middle; */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}